:root {
	background-color: #ffe6e6;
	font-family: "Megrim", cursive;
	font-family: "Quicksand", sans-serif;
}

.heading {
	background-color: #ff471a;
	border-radius: 15px;
	padding: 1em;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-style: bold;
}

.heading2 {
	background-color: #370062;
	border-radius: 15px;
	padding: 1em;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.welcome {
	font-size: 11px;
	/*background-color: #e9d5ff;*/
	background-color: #fff;
	color: #000;
	border-radius: 15px;
	margin-top: 1em;
	height: 80px;
	padding: 1em;
	text-align: left;
}
#hiimg {
	display: flex;
	height: 70px;
	width: 160px;
	margin-left: 205px;
	margin-top: 6px;
	border-radius: 15px;
}

.project-button {
	/* background-color: #000; */
	padding: 12px 24px;
	padding-left: 0;
	border: 0;
	margin-top: 0.4em;
	margin-left: 0;
	margin-bottom: 0.4em;
	font-size: 16px;
	background: transparent;
}

.project-button:hover {
	transition-delay: 0.2s;
	color: #ff471a;
}

.project-card {
	border-radius: 15px;
	background-color: #370062;
	color: #fff;
	text-align: center;
	padding: 1em;
}

.project-tile {
	text-decoration: none;
	color: #fff;
}

.project-tile:hover {
	color: #fff;
}

/* @media (max-width: 500px) {
	.heading {
		text-align: left;
	}
	.welcome {
		text-align: left;
	}
} */
.button-container {
	padding: 0.8em;
}
/* 
.photo-container {
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.photoDisplay {
	width: 40%;
	height: 40%;
} */

/* Popup Form */
/* Position the form in the center of the screen */
.popup-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	z-index: 9999;
}

/* Style the form inputs */
.popup-form input[type="text"],
.popup-form input[type="time"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}

.popup-form input[type="checkbox"] {
	margin-right: 10px;
}

/* Style the form labels */
.popup-form label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* Style the form submit and cancel buttons */
.popup-form button[type="submit"],
.popup-form button.cancel {
	margin-top: 0.2em;
	display: inline-block;
	border: none;
	background-color: #092525;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

.popup-form button[type="submit"]:hover,
.popup-form button.cancel:hover {
	background-color: #0069d9;
}

.popup-form button.cancel {
	background-color: #ccc;
	margin-left: 10px;
}

/* Hide the form by default */
.popup-form.hide {
	display: none;
}

/* Media query for devices under 500px */
@media only screen and (max-width: 500px) {
	.popup-form {
		max-width: 100%;
		padding: 10px;
	}

	.popup-form label {
		font-size: 16px;
	}

	.popup-form input[type="text"],
	.popup-form input[type="time"] {
		padding: 8px;
		font-size: 14px;
	}

	.popup-form button[type="submit"],
	.popup-form button.cancel {
		padding: 8px 16px;
		font-size: 14px;
	}
}

/* Day Schedular Table */

#task-table {
	margin-top: 1em;
	border-collapse: collapse;
	width: 100%;
}

#task-table th,
#task-table td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

#task-table th {
	background-color: #f2f2f2;
}

#task-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#task-table tr:hover {
	background-color: #ddd;
}
