:root {
	background-color: #ffe6e6;
	font-family: "Megrim", cursive;
	font-family: "Quicksand", sans-serif;
}

.heading {
	background-color: #ff471a;
	border-radius: 15px;
	padding: 1em;
	text-align: center;
	font-size: 25px;
	color: #fff;
}

.heading2 {
	background-color: #370062;
	border-radius: 15px;
	padding: 1em;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.welcome {
	background-color: #e9d5ff;
	color: #000;
	border-radius: 15px;
	margin-top: 1em;
	height: 80px;
	padding: 1em;
	text-align: center;
}

.project-button {
	/* background-color: #000; */
	padding: 12px 24px;
	padding-left: 0;
	border: 0;
	margin-top: 2em;
	margin-left: 0;
	margin-bottom: 2em;
	font-size: 16px;
	background: transparent;
}

.project-button:hover {
	transition-delay: 0.2s;
	color: #ff471a;
}

.project-card {
	border-radius: 15px;
	background-color: #370062;
	color: #fff;
	text-align: center;
	padding: 1em;
}

.project-tile {
	text-decoration: none;
	color: #fff;
}

.project-tile:hover {
	color: #fff;
}

/* @media (max-width: 500px) {
	.heading {
		text-align: left;
	}
	.welcome {
		text-align: left;
	}
} */
